.version-text {
  margin-left: 10px;
  background-color: #000000;
  padding: 2px 5px;
  color: #d1d1d1;
  border-radius: 6px;
  font-size: 10px;
}

.site-link {
  color: grey;
  text-decoration: underline;
}
